<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>281280678662-dms0s26era6a2fp1hpjiichjva17ld5t.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.281280678662-dms0s26era6a2fp1hpjiichjva17ld5t</string>
	<key>API_KEY</key>
	<string>AIzaSyBhFnqHKxB3gcPhYTGqzqBxL1eFKvyBONc</string>
	<key>GCM_SENDER_ID</key>
	<string>281280678662</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.eBike</string>
	<key>PROJECT_ID</key>
	<string>e-bike-511f2</string>
	<key>STORAGE_BUCKET</key>
	<string>e-bike-511f2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:281280678662:ios:a3daded4accabac420ec87</string>
</dict>
</plist>